@{
    ViewData["Title"] = "Configure ASP.NET Core";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Visit <a href="https://blog.sltech.no" target="_blank" title="Visit blog">Tech blog</a></p>
    <p><a href="https://sltech.no" target="_blank" title="Visit my homesite">Visit my homesite </a> </p>
</div>
